@import "tailwindcss";

@font-face {
  font-family: 'Abduction';
  src: url('/fonts/abduction2002.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Megatrans';
  src: url('/fonts/Megatrans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 

@font-face {
  font-family: 'Guardian Angle';
  src: url('/fonts/Guardian Angle Straight.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-abduction: 'Abduction', sans-serif;
  --font-space-grotesk: 'Space Grotesk', sans-serif;
  --font-megatrans: 'Megatrans', sans-serif;
  --font-guardian-angle: 'Guardian Angle', sans-serif;
  
  --color-blue: #0000FF;
  --color-red: #FF0000;
  --color-green: #00FF00;
  --color-cyan: #00F6FF;
  --color-offblack: #0A0512;
  --color-darkgrey: #313131;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}



